# --- Standard C++ ---

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# --- Custom Additions for Environment & Microcontrollers ---

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code settings
.vscode/
*.code-workspace

# PlatformIO build directories 
.pio/
.pioenvs/
.piolibdeps/
.gcc-flags.json

# Build artifacts (Generated when compiling for the board)
build/
*.elf
*.hex
*.bin

# Crash logs
*.log